<!DOCTYPE HTML>
<html>
	<head>
		<link href="/css/index-style.css" rel='stylesheet' type='text/css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/image/fav-icon.png" />
        <script type="application/x-javascript">
            addEventListener("load", function () {
                    setTimeout(hideURLbar, 0);
                },
                false);

            function hideURLbar() {
                window.scrollTo(0, 1); 
        } </script>
        <title>主页</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!-- Global CSS for the page and tiles -->
        <link rel="stylesheet" href="/css/index-main.css">
        <!-- //Global CSS for the page and tiles -->
        <!-- start-click-drop-down-menu -->
        <script src="/js/js/jquery.min.js"></script>
        <!-- start-dropdown--->
        <script type="text/javascript">
			var $ = jQuery.noConflict();
				$(function() {
					$('#activator').click(function(){
						$('#box').animate({'top':'0px'},500);
					});
					$('#boxclose').click(function(){
					$('#box').animate({'top':'-700px'},500);
					});
				});
				$(document).ready(function(){
				//Hide (Collapse) the toggle containers on load
				$(".toggle_container").hide(); 
				//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
				$(".trigger").click(function(){
					$(this).toggleClass("active").next().slideToggle("slow");
						return false; //Prevent the browser jump to the link anchor
				});
									
			});
		</script>
        <!----//End-dropdown--->
        <script src="/js/js/angular.min.js"></script>
        <script src="/js/common/common.js"></script>
        <!--滚动加载-->
        <script src="https://cdn.bootcss.com/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
        <!--弹框-->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.js"></script>

        <!--此页面配套的js-->
        <script src="indexController.js"></script>
        
    </head>
    <body ng-app="VotingApp" ng-controller="indexController">
		<!---start-wrap---->
			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><img src="/image/logo.png" title="pinbal" /></a>
				</div>
				<div class="nav-icon">
					 <a href="#" class="right_bt" id="activator"><span> </span> </a>
				</div>
				 <div class="box" id="box">
					 <div class="box_content">        					                         
						<div class="box_content_center">
						 	<div class="form_content">
								<div class="menu_box_list">
									<ul>
										<li><a href="#"><span>home</span></a></li>
										<li><a href="#"><span>About</span></a></li>
										<li><a href="#"><span>Works</span></a></li>
										<li><a href="#"><span>Clients</span></a></li>
										<li><a href="#"><span>Blog</span></a></li>
										<li><a href="contact.html"><span>Contact</span></a></li>
										<div class="clear"> </div>
									</ul>
								</div>
								<a class="boxclose" id="boxclose"> <span> </span></a>
							</div>                                  
						</div> 	
					</div> 
				</div>       	  
				<div class="top-searchbar">
					<form>
						<input type="text" ng-model="search.keyword" /><input type="submit" ng-click="searchKeyWord()"/>
					</form>
				</div>
				<div class="userinfo">
					<div class="user">
						<ul>
							<li><a href="/check-login"><img src="/image/user-pic.png" title="user-name" /><span>Voting</span></a></li>
						</ul>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!---//End-header---->
        <div class="copyrights">Collect from <a href="https://www.baidu.com/s?ie=UTF-8&wd=%E9%83%BD%E5%8F%AB%E4%BD%A0%E5%88%AB%E7%82%B9%E4%BA%86" >别点别点,还没做好</a></div>
		<!---start-content---->
		<div class="content">
			<div class="wrap">
			 <div id="main" role="main">
			      <ul id="tiles" infinite-scroll='searchVote()' infinite-scroll-disabled='false' infinite-scroll-distance='1'>
			        <!-- These are our grid blocks onClick="location.href='single-page.html?id=';" -->
					<li ng-click="localHref('single-page.html?id=' + vote1.id)" ng-repeat="vote1 in voteArrays track by $index">
						<!--投票图片-->
						<img src="/image/img1.jpg" width="200px" height="{{vote1.liWidth}}px">
						<div class="post-info">
							<div class="post-basic-info">
								<!--投票标题-->
								<h3><a href="single-page.html?id={{vote1.id}}">{{vote1.title}}</a></h3>
								<!--我也不知到这是个啥-->
								<!--<span><a href="#"><label> </label>Movies</a></span>-->
								<!--投票描述-->
								<p ng-show="vote1.describe == '' || vote1.describe == null">
									暂无描述
								</p>
								<p ng-show="vote1.describe != '' && vote1.describe != null">
									{{vote1.describe}}
								</p>
							</div>
							<div class="post-info-rate-share">
								<div class="rateit">
									<span> </span>
								</div>
								<div class="post-share">
									<span> </span>
								</div>
								<div class="clear"> </div>
							</div>
						</div>
					</li>
			        <!-- End of grid blocks -->
			      </ul>
			    </div>
                <div class="col-md-12 end-alert-no" ng-show="search.isLoad == false">
                    <span>下边没有啦!...</span>
                </div>
			</div>
		</div>
        <div class="col-md-12 end-alert" ng-show="search.isLoad == false">
            <span class="pull-right">2019.5.28</span>
        </div>
		<!---//End-content---->
		<!----wookmark-scripts---->
		  <!--<script src="/js/js/jquery.imagesloaded.js"></script>-->
		  <!--<script src="/js/js/jquery.wookmark.js"></script>-->
		  <script type="text/javascript">
		    (function ($){
		      var $tiles = $('#tiles'),
		          $handler = $('li', $tiles),
		          $main = $('#main'),
		          $window = $(window),
		          $document = $(document),
		          options = {
		            c: true, // This will auto-update the layout when the browser window is resized.
		            container: $main, // Optional, used for some extra CSS styling
		            offset: 20, // Optional, the distance between grid items
		            itemWidth:280 // Optional, the width of a grid item
		          };
		    //   /**
		    //    * 加载所有图像后重新初始化WookMark处理程序
		    //    */
		    //   function applyLayout() {
		    //     $tiles.imagesLoaded(function() {
		    //       // Destroy the old handler
		    //       if ($handler.wookmarkInstance) {
		    //         $handler.wookmarkInstance.clear();
		    //       }
            //
		    //       // Create a new layout handler.
		    //       $handler = $('li', $tiles);
		    //       $handler.wookmark(options);
		    //     });
		    //   }
		    //   /**
		    //    * 当一直滚动到底部时，添加更多的图块
		    //    */
		    //   function onScroll() {
			// 	  //$window.height() 返回窗口的文档显示区的高度。
			// 	  //$document.height() 整个文档的高度
			// 	  //window.innerheight	返回窗口的文档显示区的高度。
			// 	  //$window.scrollTop() 屏幕一共竖直滚动了多少,
		    //     var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
		    //         closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
            //       var a = $window.height();
            //       var b = window.innerHeight;
            //       var c = $document.height();
			// 	  //需要加载
		    //     if (closeToBottom) {
		    //       // var $items = $('li', $tiles),
		    //       //     $firstTen = $items.slice(0, 5);	//取到0-10的li
		    //       // $tiles.append($firstTen.clone());
			// 	  //
		    //       // applyLayout();
		    //     }
		    //   };
            //
		    //   // 初始化布局函数
		    //   // applyLayout();
            //
		    //   // 滚动到底部加载事件
		    //   // $window.bind('scroll.wookmark', onScroll);
		    })(jQuery);
		  </script>
		<!----//wookmark-scripts---->
		<!----start-footer--->
		<div class="footer">
			<p>Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.baidu.com/" target="_blank" title="百度">百度</a> - Collect from <a href="http://www.baidu.com/" title="百度" target="_blank">百度</a></p>
		</div>
		<!----//End-footer--->
		<!---//End-wrap---->
	</body>
</html>

