<div class="container-fluid m-5">
    <div class="row">
        <div class="col-md-2 "><span class="font-size-9 ">提示</span></div>
        <!--<div class="col-md-10 "><span class="font-size-9">您的到来</span></div>-->
    </div>
    <div class="row mt-2 mb-2" style="min-height: 100px">
        <div class="col-md-8 col-md-offset-2">
            <span class="font-size-5">{{msg}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <button class="btn btn-primary grid-width-100"  ng-click="ok()">OK</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default grid-width-100" ng-click="cancel()">CANCEL</button>
        </div>
    </div>
</div>