<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsw.dao.mappers.HelloMapper">


    <!--<resultMap id="adminMap" type="com.zsw.pojo.user.Admin">-->
        <!--<id column="Ano" property="ano" jdbcType="VARCHAR" javaType="String"/>-->
        <!--<result column="Aname" property="aname" jdbcType="VARCHAR" javaType="String"/>-->
        <!--<result column="Apassword" property="apassword" jdbcType="VARCHAR" javaType="String"/>-->
        <!--<result column="Alevel" property="alevel" jdbcType="INTEGER" javaType="String"/>-->
    <!--</resultMap>-->
    <!--<sql id = "Base_Column_List">-->
        <!--Ano, Aname, Apassword, Alevel-->
    <!--</sql>-->
    <!--<select id="selectAll_error" resultMap="adminMap">-->
        <!--SELECT-->
        <!--<include refid="Base_Column_List" />-->
        <!--FROM admin-->
    <!--</select>-->


</mapper>