<div class="container-fluid m-5">
    <div class="row">
        <div class="col-md-4 "><span class="font-size-9 ">查看用户信息</span></div>
        <!--<div class="col-md-10 "><span class="font-size-9">您的到来</span></div>-->
    </div>
    <!--内容-->
    <div class="row mt-2 mb-2" style="min-height: 100px">
        <!--<div class="col-md-8 col-md-offset-2">-->
            <!--<span class="font-size-5">{{msg}}</span>-->
        <!--</div>-->
        <ul class="list-group">
            <li class="list-group-item">
                <strong>用户邮箱</strong>
                <div class="pull-right">{{user.email }}</div>
            </li>
            <li class="list-group-item">
                <strong>用户昵称</strong>
                <div class="pull-right">{{user.name }}</div>
            </li>
            <li class="list-group-item">
                <strong>电话号码</strong>
                <div class="pull-right">{{user.phone }}</div>
            </li>
            <li class="list-group-item">
                <strong>用户年龄</strong>
                <div class="pull-right">{{user.age }}</div>
            </li>
            <li class="list-group-item">
                <strong>用户地址</strong>
                <div class="pull-right">{{user.address }}</div>
            </li>
            <li class="list-group-item">
                <strong>注册时间</strong>
                <div class="pull-right">{{user.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</div>
            </li>
            <li class="list-group-item">
                <strong>用户头像</strong>
                <div class="pull-right"><img src="/user/show-photo?id={{showId}}" alt="暂无头像" height="200" width="200"/></div>
            </li>
            
        </ul>
    </div>
    <!--底部按钮-->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary grid-width-100"  ng-click="ok()">OK</button>
        </div>
       
    </div>
</div>